.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.parent {
  display: flex;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}

img {
    width: 15px;
    height: 15px;
    margin-top: 16px;
    margin-right: 50px;
}

/*@import url("./magnifying-glass.png");*/
/*.magnifying-glass { position: relative; }
.magnifying-glass input { text-indent: 30px;}
.magnifying-glass .fa-search {
  position: absolute;
  top: 24px;
  right: 7px;
  font-size: 15px;
}*/
